name: Build and run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  Environment: Test
  Browser: Chrome

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: setup-chromedriver
      uses: nanasess/setup-chromedriver@master
    - name: setup-firefox
      uses: browser-actions/setup-geckodriver@latest
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --filter FullyQualifiedName~Positive --no-build --verbosity normal
           echo "Environment is $Environment and browser is $Browser"
